/*********************************
        OVERALL
**********************************/

body {
  font-family: 'Poiret One', cursive;
  background-color:#2c3e50;
  margin:0;
}

header{
  overflow: auto;
  text-align: center;
  background-color: #34495e;
  padding:10px;
  margin-bottom: 10px;
}

.custom-button {
  font-size: 16px;
  display: inline;
  padding: 5px 20px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #27ae60;
  border-color: #16a085;
  color: #ecf0f1;
  border-style: solid;
}

/*********************************
        HEADER
**********************************/

h1{
  text-align: center;
  font-size: 5em;
  color: #ecf0f1;
  margin: 0;
}

a{
  text-decoration: none;
  color: #ecf0f1;
  font-size:2em;
}

a:hover{
  color:#bdc3c7;
}

/*********************************
         INPUT ON PAGE LOAD
**********************************/

.set-up {
  text-align: center;
}

input {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 16px;
}

/*********************************
           GAME
**********************************/

.reset-btn {
  background-color: #c0392b;
  border-color:#d35400;
  margin-bottom: 10px;
}

div {
  box-sizing: border-box;
  height: 20px;
}

#print-states {
  text-align: center;
}

#gen-count {
  display: block;
  color: #ecf0f1;
  margin-bottom:2px;
}

.cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.alive {
  background-color: #2ecc71;
}

.dead {
  background-color: #2980b9;
}
